footer {
  margin-top: 54px;
  overflow: hidden;
  background: #e6e7e8;
}

footer>div>.section {
  margin: auto;
  width: 100%;
}
footer a {
  color: #9b288c;
}
footer .section>.footer-content>.nav-wrapper {
  margin-top: 32px;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer p {
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 16px;
}
footer nav>ul a {
  font-family: 'Gotham', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #9b288c;
}
footer nav>ul a:hover, footer a{
  text-decoration: underline;
  color:#9b288c;
}
footer nav>ul>li {
  margin: 0;
  padding: 0;
}

footer nav>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 1800px) and (max-width: 9999px){
  footer>div>.section {
    padding: 0 30px;
    max-width: 1366px;
  }
}

@media screen and (min-width: 960px) and (max-width: 9999px){
  footer[data-device="global"]>div>.section {
    padding: 0 200px 0 75px;
  }
  footer .section>.footer-content {
    display: flex;
    align-items: flex-start;
  }
  footer .takeda-logo {
    margin: 32px 50px 0 0;
    flex: 0 0 140px;
    max-width: 140px;
  }
  footer .takeda-logo img {
    width: 100%;
  }

  footer nav {
    margin-bottom: 20px;
  }
  footer nav>ul li {
    margin-right: 20px;
  }
  footer nav>ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 959px){
  footer[data-device="global"]>div>.section {
    padding: 25px;
  }
  footer nav>ul {
    flex: 0 0 50%;
    max-width: 50%;
  }
  footer nav>ul li {
    margin-bottom: 20px;
  }
  footer .takeda-logo {
    width: 125px;
    display: block;
  }
  footer .takeda-logo img{
    width: 100%;
  }
  footer p [data-float="right"] {
    float: none;
    padding-top: 20px;
    display: block;
  }
}
