
#header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all .2s linear;
}
.main-header{
  box-shadow: 0 2px 4px #9b288c42;
  background: white;
}
.main-header .main-header_container{
  display: flex;
}
.main-header, .top-menu-header{
  margin-top: -1px;
}
.main-header .menu--main ul{
  display: flex;
  margin: 0;
}
#block-topheaderpushdown{
  background-color: white;
}
#block-topheaderpushdown .layout{
  margin: auto;
  width: 100%;
  padding: 0 30px;
  max-width: 1366px;
}

#block-topheaderpushdown .layout .layout__region.layout__region--content{
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  padding: 11px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#block-topheaderpushdown .field__label{
  display: none;
}

#block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typebody{
  color: #9b288c;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding-right: 40px;
  margin-bottom: 0;
}
#block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typebody p{
  margin: 0;
}

#block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typefield-learn-more-link a{
  font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding: 20px;
    /* text-decoration: none; */
    display: inline-block;
    text-transform: uppercase;
    will-change: color, border, box-shadow, background;
    transition: all 300ms ease-in-out;
    color: #fff;
    border: 2px solid #cc91c6;
    box-shadow: 0 2px 2px 0 rgb(61 5 58 / 30%);
    background: #9b288c;
    padding: 14px 35px;
    width: 190px;
    text-align: center;
    height: fit-content;
    line-height: 16px;
    text-decoration: none;
}
#block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typefield-learn-more-link a:hover{
  box-shadow: 0 3px 8px 0 rgb(61 5 58 / 30%);
  color: #9b288c;
  background: #ffcb03;
  text-decoration: underline;
}
#block-headerlinkslist{
  position: relative;
  z-index: 2;
}
#block-headerlinkslist .layout, #block-entivyomainnavigation{
  padding: 0 30px;
  max-width: 1366px;
  margin: auto;
  width: 100%;
}
#block-headerlinkslist .layout:before{
  position: absolute;
  content: "";
  left: calc(50% - 1px);
  top: 0;
  background: url(../images/img2.png) top left no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  z-index: 1;
}
#block-headerlinkslist .layout:after{
  position: absolute;
  content: "";
  right: calc(50% - 1px);
  top: 0;
  width: 50%;
  height: 100%;
  background: url(../images/img1.png) top right no-repeat;
  background-size: cover;
  z-index: 1;
}
#block-headerlinkslist .field__label{
  display: none;
}
#block-headerlinkslist .layout__region.layout__region--content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 12px;
  padding: 13px 0;
  z-index: 3;
  position: relative;
}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list{
  padding: 0 23px 0 5px;
}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 {
  padding: 0 5px 0px 23px;
}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list, #block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 {
  width: 50%;
}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list .field__items, #block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 .field__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list .field__items .field__item:not(:first-child){

}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list .field__items a, #block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 a{
  font-family: 'GothamMedium', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
#block-headerlinkslist .block-field-blockblock-contentlinks-listfield-link-in-links-list .field__items a:hover, #block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 a:hover{
  text-decoration: underline;
}

.block-field-blockblock-contentlinks-listfield-links-list-2 .field__item span{
  margin: 0;
  font-family: 'GothamMedium', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
#block-entivyomainnavigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

}
#block-entivyomainnavigation .field__label{
  display: none;
}
#block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items{
  display: flex;
  align-items: center;
  max-width: 1000px;
}
#block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items a{
  padding: 15px 35px;
  height: 79px;
  display: flex;
  align-items: center;
  font-family: 'GothamMedium', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #9b288c;
  text-decoration: none;
  line-height: 14px;
}
#block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items a:hover, .front-page #block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items .field__item:first-child a{
  background: #ffcb03;
}
#page-content .section-content-homepage{
  margin:0 auto;max-width:1366px;padding:75px 230px 0 105px;width:100%;
}
#block-entivyomainnavigation .field--name-field-logo{
  margin-right: 30px;
}
@media(max-width: 1396px){
  #block-topheaderpushdown .layout, #block-headerlinkslist .layout, #block-entivyomainnavigation{
    max-width: 100%;
  }
  #block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items{
    max-width: unset;
  }
}
@media(max-width: 1250px){
  #block-entivyomainnavigation .field--name-field-link-in-main-navigation .field__items a{
    padding: 15px 17px !important;
  }
}
@media(min-width: 960px){
  #block-topheaderpushdown .layout, #block-headerlinkslist .layout, #block-entivyomainnavigation{
    max-width: 1366px;
    padding: 0 15px !important;
  }
  #block-entivyomainnavigation{
    padding: 0 30px !important;
  }
}
@media(max-width: 959px){
  .field--name-field-link-in-main-navigation{
    display: none;
  }
  .block-field-blockblock-contentlinks-listfield-link-in-links-list{
    display: none;
  }
  .block-field-blockblock-contentlinks-listfield-links-list-2 {
    width: 100% !important;
  }
  #block-headerlinkslist .block-field-blockblock-contentlinks-listfield-links-list-2 .field__items{
    justify-content: center !important;
  }
  #block-headerlinkslist .layout{
    background: #f4e8f3;
  }
  .block-field-blockblock-contentlinks-listfield-links-list-2 a{
    display: none;
  }
  .block-field-blockblock-contentlinks-listfield-links-list-2 span{
    font-size: 13px !important;
    font-weight: 400 !important;
    color: var(--gb-primary) !important;
    margin-bottom: 1px;
  }
  #block-headerlinkslist .layout:before, #block-headerlinkslist .layout:after{
    display: none !important;
  }
  #block-headerlinkslist .layout__region.layout__region--content{
    padding: 8px 0 !important;
  }
  #block-entivyomainnavigation{
    height: 80px !important;
  }
  #block-entivyomainnavigation .field--name-field-logo.field--type-image{
    margin-right: auto;
  }
}


.header .top-menu-header{
  position: relative;
  background: white;
  z-index: 2;
  padding: 0 40px;
}
.header .top-menu-header:before{
  position: absolute;
  content: "";
  left: calc(50% - 1px);
  top: 0;
  background: url(../images/img2.png) top left no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.header .top-menu-header:after{
  position: absolute;
  content: "";
  right: calc(50% - 1px);
  top: 0;
  width: 50%;
  height: 100%;
  background: url(../images/img1.png) top right no-repeat;
  background-size: cover;
  z-index: 1;
}
.header .top-menu-header .top-menu-header_container{
  display: flex;
  margin: auto;
  width: 100%;
  z-index: 3;
  position: relative;
  min-height: 38px;
  padding: 0 15px;
}
.header .top-menu-header .top-menu-header_container>div{
  width: 50%;
}
.header .top-menu-header .top-menu-header_container>div ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  min-height: 38px;
}
.header .top-menu-header .top-menu-header_container .top-menu-right ul{
  padding: 0 5px 0px 23px;
}
.header .top-menu-header .top-menu-header_container .top-menu-left ul{
  padding: 0 23px 0 5px;
}
.header .top-menu-header .top-menu-header_container>div ul li{
  line-height: 12px;
  padding-bottom: 8px;
}
.header .top-menu-header .top-menu-header_container>div ul li a{
  font-family: 'GothamMedium', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.header .top-menu-header .top-menu-header_container>div ul li a:hover{
  text-decoration: underline;
}
.header .top-menu-header .top-menu-header_container>div ul li span{
  margin: 0;
  font-family: 'GothamMedium', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
.header .top-menu-header .top-menu-header_sm{
  display: none;
  font-family: 'Gotham', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #9b288c;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
.main-header .main-header_container{
  margin: 0 auto;
}
.main-navigation-header .navbar-we-mega-menu{
  margin: 0 !important;
  padding: 0 !important;
  background-color: unset !important;
}
.main-navigation-header .we-mega-menu-ul{
  flex-wrap: nowrap;
}
.main-navigation-header .we-mega-menu-ul a{
  background:  none;
  font-family: 'Gotham', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #9b288c;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: unset;
  line-height: 14px;
}
.main-navigation-header .we-mega-menu-ul a:hover{
  background-color: #ffcb03 !important;
}
.main-navigation-header .navbar-we-mega-menu a i{
  margin-left: 6px;
  font-size: 25px;
  transition: all .2s linear;
}
.we-mega-menu-submenu.clinical_sub:before, .we-mega-menu-submenu.resources_sub:before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 200vw;
  height: 100%;
  transform: translate(-50%);
  z-index: 1;
  background: #ffcb03;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu{
  padding: 0 !important;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu a{
  padding: 0 !important;
  height: auto !important;
  white-space: nowrap;
  justify-content: left;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu .menu{
  margin-left: 0;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu .menu li{
  margin-bottom: 25px;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu a:hover{
  text-decoration: underline;
  color: var(--gb-primary);
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu.clinical_sub{
  left: -60px;
  width: 670px !important;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu.resources_sub{
  left: -480px;
}
.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu .block-inner h2, .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu.resources_sub .menu li:first-child{
  font-family: 'Gotham', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
  padding: 22px 40px 15px 0;
  color: #9b288c;
  display: inline-block;
  border-bottom: 1px solid #9b288c;
}
.main-navigation-header .we-mega-menu-submenu-inner{
  position: relative;
  z-index: 10;
}
.main-navigation-header .navbar-we-mega-menu a:hover i{
  transform: rotate(180deg);
}
.main-navigation-header .nav-tabs .dropdown-menu {
  margin-top: 0;
}
.front-page.main-navigation-header .we-mega-menu-ul a:hover{
  background-color: #ffcb03 !important;
}
.main-navigation-header .we-mega-menu-ul .dropdown-menu a{
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.main-navigation-header  .we-mega-menu-ul>.we-mega-menu-li{
  border: none !important;
}
.main-navigation-header .we-mega-menu-ul>.we-mega-menu-li.active>a{
  background:  none;
  font-family: 'Gotham', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #9b288c;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (min-width: 960px) and (max-width: 9999px){
  .header .top-menu-header .top-menu-header_container{
    max-width: 1366px;
    padding: 0 30px;
  }
  .logo-header img{
    max-width: 176px;
  }
  .main-header{
    padding: 0 32px;
  }
  .main-header .main-header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 1366px;
  }
  .main-navigation-header {
    max-width: 1000px;
  }
  .main-navigation-header .we-mega-menu-ul{
    margin-right: -15px;
  }
  .main-navigation-header .we-mega-menu-ul a{
    padding: 15px 35px;
    height: 79px;
  }
}

@media(max-width: 1250px){
  .header .top-menu-header{
    padding: 0;
  }
}

@media(max-width: 960px)
{
  .header .top-menu-header .top-menu-header_container .top-menu-left{
    display: none;
  }
  .header .top-menu-header .top-menu-header_container .top-menu-right{
    display: none;
  }
  .header .top-menu-header{
    background: var(--gb-primary_light);
  }
  .header .top-menu-header:after, .header .top-menu-header:before{
    display: none;
  }
  .header .top-menu-header .top-menu-header_sm{
    display: block;
    text-align: center;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typebody{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-right: 10px;
    margin-bottom: 0;
  }
  #block-topheaderpushdown .block-field-blockblock-contentpushdown-block-typefield-learn-more-link a{
    padding: 10px 8px;
    width: 135px;
    min-width: 135px;
    text-align: center;
    height: fit-content;
  }
  .main-header{
    padding: 0;
  }
  .main-header .main-header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 100%;
  }
  .main-navigation-header .we-mega-menu-ul{
    margin-right: 0;
  }
}
