
#references, #isi  {
    margin: auto;
    width: 100%;
}
#isi button.fixed_isi_trigger {
  display: none;
}
#isi h2, #fixed_isi h2 {
  margin-bottom: 12px;
  color: #9b288c;
  text-transform: uppercase;
}
#isi h3, #fixed_isi h3 {
  line-height: 20px;
  margin-bottom: 4px;
}
#isi p, #fixed_isi p {
  line-height: 20px;
  margin-bottom: 20px;
}
#isi ul li, #fixed_isi ul li {
  position: relative;
  padding-left: 10px;
  line-height: 20px;
  margin-bottom: 0;
}
#isi ul li:before, #fixed_isi ul li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #58595b;
}
#isi a, #fixed_isi a {
  color: #9b288c;
  text-decoration: none;
}
#isi a.hover, #isi a:hover, #fixed_isi a.hover, #fixed_isi a:hover {
  text-decoration: underline;
}
#isi ul, #fixed_isi ul {
  list-style-type: none;
  padding: 0;
}
#references h3 {
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #9b288c;
}
#references ol li {
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 12px;
}
@media screen and (min-width: 1800px) and (max-width: 9999px){
  #references, #isi  {
    padding: 0 30px;
    max-width: 1366px;
  }
}

@media screen and (min-width: 960px) and (max-width: 9999px){
  #isi, #references  {
    padding: 0 15px;
    max-width: 1366px;
  }
  #isi article {
    padding: 75px 200px 0 75px;
  }
  #isi .section article .isi-header, #fixed_isi .section article .isi-header {
    padding: 0;
  }
  #isi ul, #fixed_isi ul {
    list-style-type: none;
  }
  #isi h2, #fixed_isi h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 26px;
    font-weight: 700;
  }
  #isi h3, #fixed_isi h3 {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  #isi p, #fixed_isi p {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  #isi ul li, #fixed_isi ul li {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  #isi ul li:before, #fixed_isi ul li:before {
    top: 11px;
  }
  #isi a, #fixed_isi a {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  #references article {
    padding: 30px 200px 0 75px;
  }
  #references ol {
    margin-left: 20px;
  }

}

@media screen and (max-width: 959px){
  #isi article {
    padding: 30px 0 0 0;
  }
  #references, #isi {
    padding: 0 25px;
    max-width: 100%;
  }
  #isi ul li, #fixed_isi ul li {
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  #isi ul li:before, #fixed_isi ul li:before {
    top: 7px;
  }
  #isi h2, #fixed_isi h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  #isi h2, #fixed_isi h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
  #isi h3, #fixed_isi h3 {
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  #isi p, #fixed_isi p {
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  #isi a, #fixed_isi a {
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  #references article {
    padding: 30px 0 0 0;
  }

}
