.user-login-form{
  margin-top: 300px;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #9b288c;
  height: 500px;
  background-color: white;
}
.user-login-form .button{
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  will-change: color, border, box-shadow, background;
  transition: all 300ms ease-in-out;
  color: #fff;
  border: 2px solid #cc91c6;
  box-shadow: 0 2px 2px 0 rgb(61 5 58 / 30%);
  background: #9b288c;
  line-height: 16px;
}

.user-login-form .button:hover {
  box-shadow: 0 3px 8px 0 rgb(61 5 58 / 30%);
  color: #9b288c;
  background: #ffcb03;
}
