[data-page-id="MechanismOfAction"] #hero {
  position: relative;
  overflow: hidden;
}
[data-page-id="MechanismOfAction"] #hero::before {
  right: calc(50% - 1px);
  background: url("../images/backgrounds/purple-gradient.svg") top right no-repeat;
  background-size: auto;
  background-size: cover;
}

[data-page-id="MechanismOfAction"] #hero::after {
  left: calc(50% - 1px);
  background: url("../images/backgrounds/gray-gradient.svg") top left no-repeat;
  background-size: auto;
  background-size: cover;
}
[data-page-id="MechanismOfAction"] #hero > div > picture > img,[data-page-id="MechanismOfAction"]  #hero > div > picture {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
[data-page-id="MechanismOfAction"] #hero > div > picture img {
  width: auto;
}
[data-page-id="MechanismOfAction"] #hero > div > article {
  flex-wrap: wrap;
  display: flex;
}
#page-content > div[id] > div > article {
  margin: auto;
  width: 100%;
}
[data-page-id="MechanismOfAction"] #hero > div > article {
  z-index: 3;
}
[data-page-id="MechanismOfAction"] #hero > div > article + picture > img,div[data-page-id="MechanismOfAction"] #hero > div > article + picture {
  right: 0;
  left: auto;
}
[data-page-category="MechanismOfAction"] #hero > div > article > div{
  flex: 0 0 50%;
  max-width: 50%;
}
[data-page-id="MechanismOfAction"] #hero > div > article .extra-list {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 0;
}
[data-page-id="MechanismOfAction"] #hero h1 {
  position: absolute;
  top: 44%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
}
[data-page-category="MechanismOfAction"] #hero > div > article h1{
  position: relative;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}
[data-page-category="ClinicalEfficacy"] #hero > div > article h2, [data-page-category="SafetyProfile"] #hero > div > article h2, [data-page-category="DosingAdministration"] #hero > div > article h2, [data-page-category="MechanismOfAction"] #hero > div > article h2, [data-page-category="AccessSupport"] #hero > div > article h2, [data-page-category="Resources"] #hero > div > article h2 {
  text-transform: uppercase;
  color: #9b288c;
}
sup {
  font-family: inherit;
  position: relative;
  top: -3px;
  font-size: 9px;
}




@media screen and (min-width: 1800px) and (max-width: 9999px){
  #page-content > div[id] > div > article {
    padding: 0 30px;
    max-width: 1366px;
  }
}

@media screen and (min-width: 960px) and (max-width: 9999px){
  [data-page-id="MechanismOfAction"] #hero {
    min-height: 736px
  }  
  [data-page-id="MechanismOfAction"] #hero > div > article {
    position: relative;
  }
  [data-page-category="MechanismOfAction"] #hero > div > article > div{
    padding: 0 20px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article > div {
    margin-top: 275px;
  }
  [data-page-id="MechanismOfAction"]  #hero > div > article .extra-list {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 180px 200px 0 calc(50% + 25px);
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h1 {
    font-family: 'Gotham', sans-serif;
    font-size: 69px;
    font-weight: 700;
    margin-top: 11px;
    line-height: 50px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h1 strong {
    font-family: 'Gotham', sans-serif;
    font-size: 45px;
    font-weight: 500;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 51px;
    font-weight: 400;
    line-height: 56px;
  }
  [data-page-id="MechanismOfAction"] #hero>div>article h2 strong {
    font-family: 'Gotham', sans-serif;
    font-size: 62px;
    font-weight: 700;
  }
  [data-page-id="MechanismOfAction"]  #hero > div > article .extra-list p{
    margin-bottom:25px;
    line-height:normal;
  }
}
@media screen and (min-width: 960px) and (max-width: 1250px){
  [data-page-id="MechanismOfAction"] #hero {
    min-height: 736px
  }  
}
@media screen and (max-width: 959px){
  [data-page-id="MechanismOfAction"] #hero {
    height: 305px;
    margin-top: 132px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > picture {
    top: 0;
    bottom: auto;
    height: 215px;
  }
  #page-content > div[id] > div > article {
    padding: 0 25px;
    max-width: 100%;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article {
    position: static;
    padding: 0;
  }
  [data-page-category="ClinicalEfficacy"] #hero > div > article > div, [data-page-category="SafetyProfile"] #hero > div > article > div, [data-page-category="DosingAdministration"] #hero > div > article > div, [data-page-category="MechanismOfAction"] #hero > div > article > div, [data-page-category="AccessSupport"] #hero > div > article > div, [data-page-category="Resources"] #hero > div > article > div {
    padding: 0 8px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article > div {
    position: relative;
    z-index: 3;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article > div:nth-child(1) {
    padding: 0 5px 0 calc(25px + 5px);
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h1 {
    font-family: 'Gotham', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 46px;
    line-height: 20px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 75px;
    line-height: 18px;
  }
  [data-page-id="MechanismOfAction"] #hero > div > article h2 strong {
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  #hero > div > article .extra-list p sup {
    top: -4px;
    font-size: 9px;
  }
}
@media screen and (min-width: 375px) and (max-width: 575px){
  [data-page-id="MechanismOfAction"] #hero {
    margin-top: 144px;
  }
}
@media screen and (max-width: 374px){
  [data-page-id="MechanismOfAction"] #hero {
    margin-top: 157px;
  }
}