@font-face {
  font-family: Knockout50;
  src: url(../fonts/Knockout50.woff2) format('woff2');
}
@font-face {
  font-family: Knockout49;
  src: url(../fonts/Knockout49.woff2) format('woff2');
}
@font-face {
  font-family: Knockout30;
  src: url(../fonts/Knockout30.woff2) format('woff2');
}
@font-face {
  font-family: Knockout29;
  src: url(../fonts/Knockout29.woff2) format('woff2');
}
@font-face {
  font-family: Gotham;
  src: url(../fonts/GothamBold.woff2) format('woff2');
}
@font-face {
  font-family: GothamBook;
  src: url(../fonts/GothamBook.woff2) format('woff2');
}
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamMedium.woff2) format('woff2');
}
html, body{
  font-family: 'Gotham', sans-serif;
  color: #58595b;
}
body {
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #58595b;
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  border-radius: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  background-repeat: none;
  background-position: 0 0;
}
.field__label{
  display: none;
}

@media  (max-width: 991px) {

  #toolbar-administration{
    display: none;
  }
  .toolbar-icon-9.gin--classic-toolbar.toolbar-tray-open{
    padding-top: 0 !important;
    margin-left: 0 !important;
  }
}

.btn.btn-primary {
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  will-change: color, border, box-shadow, background;
  transition: all 300ms ease-in-out;
  color: #fff;
  border: 2px solid #cc91c6;
  box-shadow: 0 2px 2px 0 rgb(61 5 58 / 30%);
  background: #9b288c;
}

.btn.btn-primary.hover, .btn.btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgb(61 5 58 / 30%);
  color: #9b288c;
  background: #ffcb03;
}


[data-row] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
[data-row] {
  margin-left: -5px;
  margin-right: -5px;
}
[data-col] {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (min-width: 960px) and (max-width: 9999px){
  [data-row] {
    margin-left: -5px;
    margin-right: -5px;
  }
  [data-col] {
    padding-right: 5px;
    padding-left: 5px;
  }
  [data-col*="desktop-6"] {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (max-width: 959px)
{
  [data-col*="mobile-12"] {
    flex: 0 0 100%;
    max-width: 100%;
}
}
