/***********************************/
/**** **** MATRIX SETTINGS **** ***/
/*********************************/
/* Usage: Update matrix gutter HTML: <nav data-matrix=""> <a> <a> SASS: @include matrix_setting([number of matrix], [gutter space], '[child element]');
 Example: @include matrix_setting(2, 30px, 'div');
 */
/************************************************/
/**** **** TYPEFACE SETTINGS (LOCAL) v2 **** ***/
/**********************************************/
/* Usage: $local-font-settings: ( (Gotham, Gotham-Light_Web, '200'), (Gotham, Gotham-Book_Web, '400'), (Gotham, Gotham-Medium_Web, '500') );
 $font_path : '../_assets/core/fonts';
 Usage: @include localFontSetup($local-font-settings, $font_path);
 Usage: @mixin gotham($font) {
	 font-family: 'Gotham', sans-serif;
	 @if $font == light {
		 font-weight: 200;
	}
	 @else if $font == book {
		 font-weight: 400;
	}
	 @else if $font == medium {
		 font-weight: 500;
	}
}
 body {
	 @include gotham(book);
}
 */
/*****************************/
/**** **** ANIMATION **** ***/
/***************************/
/* Usage: @include animationFrames(fade) {
	 0% {
		 opacity: 1;
	}
	 50% {
		 opacity: 0;
	}
}
 */
/* Usage: @include animation(300ms fade ease-in-out forwards, 100);
 */
/**************************************/
/**** *** PAGE WIDTH SETTINGS **** ***/
/************************************/
/**** **** GRID MIXIN **** ***/
/****************************/
/**** **** FLEX SET **** ***/
/**************************/
/******************************/
/**** **** RESET LIST **** ***/
/****************************/
/*****************************/
/**** **** FOR PRINT **** ***/
/***************************/
/**** **** SETTING UP TYPEFACE **** ***/
/**** **** PREMADE VIEWPORT **** ***/
/**** **** CUSTOM VIEWPORT **** ***/
/* Usage: @include viewport-custom(200, 300) {
	 h1 {
		 font-size: 20px;
	}
}
 */
/**** **** SPECIFIC VIEWPORT **** ***/
/* ipad specific */
/* iphone 6/7/8 specific */
/* ie11 specific */
/**** **** PRIMARY TYPE **** ***/
/**** **** TEXT TYPE **** ***/
/**** **** CLOSE **** ***/
/* Usage: @include close-icon([width of icon], [height of icon], [icon colour]);
 Examples: @include close-icon(25px, 3px, brand(primary));
 @include close-icon($width: 25px);
 @include close-icon;
 */
/* init */
 [data-icon="close"] span {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 100%;
	 transform: translate(-50%, -50%);
}
 [data-icon="close"] span:before, [data-icon="close"] span:after {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 3px;
	 transform-origin: 0 0;
	 background: brand(primary);
}
 [data-icon="close"] span:before {
	 transform: rotate(45deg) translate(-50%, -50%);
}
 [data-icon="close"] span:after {
	 transform: rotate(-45deg) translate(-50%, -50%);
}
/**** **** HAMBURGER **** ***/
/* Usage: @include hamburger([width of icon], [height of icon], [space between lines], [icon colour]);
 Examples: @include hamburger(25px, 2px, 1, #fff);
 @include hamburger($width: 25px, $bg: #f00);
 @include hamburger;
 */
/* init */
 [data-icon="hamburger"] span {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 3px;
	 transform: translate(-50%, -50%);
	 background: brand(primary);
}
 [data-icon="hamburger"] span:before, [data-icon="hamburger"] span:after {
	 content: '';
	 position: absolute;
	 left: 0;
	 width: 100%;
	 height: 3px;
	 transform-origin: 0 0;
	 background: brand(primary);
}
 [data-icon="hamburger"] span:before {
	 bottom: 7.5px;
}
 [data-icon="hamburger"] span:after {
	 top: 7.5px;
}
/**** **** PLUS/MINUS **** ***/
/* Usage: @plus-minus-icon([width of icon], [height of icon], [icon colour]);
 Examples: @plus-minus-icon(25px, 2px, #fff);
 @include plus-minus-icon($width: 13px);
 @plus-minus-icon;
 */
/* init */
 [data-icon="plus-minus"] span {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 100%;
	 transform: translate(-50%, -50%);
}
 [data-icon="plus-minus"] span:before, [data-icon="plus-minus"] span:after {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 3px;
	 transform-origin: 0 0;
	 background: brand(primary);
}
 [data-icon="plus-minus"] span:before {
	 transform: translate(-50%, -50%);
}
 [data-icon="plus-minus"] span:after {
	 transform: rotate(90deg) translate(-50%, -50%);
}
/**** **** YELLOW CIRCLE WORD ICONS **** ***/
/* Usage: <p data-dot>Vs</p> */
/****************************/
/**** **** LANGUAGE **** ***/
/**************************/
/* en or cn */
/***********************************/
/**** **** LAYOUT SETTINGS **** ***/
/*********************************/
/*********************************/
/**** **** GRID SETTINGS **** ***/
/*******************************/
/**********************************/
/**** **** BRAND SETTINGS **** ***/
/********************************/
/* form */
/*********************************/
/**** **** PATH SETTINGS **** ***/
/*******************************/
/*************************************/
/**** **** TYPEFACE SETTINGS **** ***/
/***********************************/
/*********************************/
/*** INTERIOR PAGE BOTTOM CTAs ***/
/*********************************/
 .interior-bottom-cta {
	/**** **** MOBILE **** ***/
	/* from laptop to desktop */
	/* only desktop */
	/* only laptop */
	/* only tablet */
	/* only mobile */
	/* only mobile small */
	/**** **** DESKTOP **** ***/
	/* from laptop to desktop */
	/* only desktop */
	/* only laptop */
	/* only tablet */
	/* only mobile */
	/* only mobile small */
}
 .interior-bottom-cta .cta {
	 text-align: center;
}
 .interior-bottom-cta .cta p {
	 font-family: 'Gotham', sans-serif;
	 font-weight: 700;
	 line-height: 1.2;
	 margin-bottom: 0;
	 color: brand(light);
}
 @else if {
	 font-size: 26px;
}
 .interior-bottom-cta .cta span {
	 font-family: 'Gotham', sans-serif;
	 font-weight: 400;
	 line-height: 1.1;
}
 @else if {
	 font-size: 22px;
}
 .interior-bottom-cta .cta .btn.btn-secondary {
	 width: 288px;
	 padding: 20px 15px;
}
 .interior-bottom-cta .cta.cta-1 {
	 position: relative;
}
 .interior-bottom-cta .cta.cta-1:after {
	 content: '';
	 position: absolute;
	 background-color: brand(secondary);
}
 @else if $breakpoint == desktop {
	 @media screen and (min-width: mq(desktop)px) and (max-width: 9999px) {
		 .interior-bottom-cta .cta-container {
			 margin: 0;
		}
		 .interior-bottom-cta .cta-container .cta {
			 padding: 50px 0;
		}
		 .interior-bottom-cta .cta-container .cta p {
			 padding-bottom: 30px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 10px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta-container .cta p sup {
			 top: -11px;
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta-container .cta.cta-1:after {
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 width: 92%;
			 height: 2px;
		}
		 .interior-bottom-cta .cta-container .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 18px;
		}
	}
}
 @else if $breakpoint == laptop {
	 @media screen and (min-width: mq(laptop)px) and (max-width: mq(desktop)px) {
		 .interior-bottom-cta .cta-container {
			 margin: 0;
		}
		 .interior-bottom-cta .cta-container .cta {
			 padding: 50px 0;
		}
		 .interior-bottom-cta .cta-container .cta p {
			 padding-bottom: 30px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 10px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta-container .cta p sup {
			 top: -11px;
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta-container .cta.cta-1:after {
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 width: 92%;
			 height: 2px;
		}
		 .interior-bottom-cta .cta-container .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 18px;
		}
	}
}
 @else if $breakpoint == tablet {
	 @media screen and (min-width: mq(mobile)px) and (max-width: mq(tablet)px) {
		 .interior-bottom-cta .cta-container {
			 margin: 0;
		}
		 .interior-bottom-cta .cta-container .cta {
			 padding: 50px 0;
		}
		 .interior-bottom-cta .cta-container .cta p {
			 padding-bottom: 30px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 10px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta-container .cta p sup {
			 top: -11px;
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta-container .cta.cta-1:after {
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 width: 92%;
			 height: 2px;
		}
		 .interior-bottom-cta .cta-container .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 18px;
		}
	}
}
 @else if $breakpoint == mobile {
	 @media screen and (max-width : mq(mobile)px) {
		 .interior-bottom-cta .cta-container {
			 margin: 0;
		}
		 .interior-bottom-cta .cta-container .cta {
			 padding: 50px 0;
		}
		 .interior-bottom-cta .cta-container .cta p {
			 padding-bottom: 30px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 10px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta-container .cta p sup {
			 top: -11px;
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta-container .cta.cta-1:after {
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 width: 92%;
			 height: 2px;
		}
		 .interior-bottom-cta .cta-container .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 18px;
		}
	}
}
 @else if $breakpoint == mobile-sm {
	 @media screen and (max-width : mq(mobile-sm)px) {
		 .interior-bottom-cta .cta-container {
			 margin: 0;
		}
		 .interior-bottom-cta .cta-container .cta {
			 padding: 50px 0;
		}
		 .interior-bottom-cta .cta-container .cta p {
			 padding-bottom: 30px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 10px;
		}
		 .interior-bottom-cta .cta-container .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta-container .cta p sup {
			 top: -11px;
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta-container .cta.cta-1:after {
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
			 width: 92%;
			 height: 2px;
		}
		 .interior-bottom-cta .cta-container .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 18px;
		}
	}
}
 @media screen and (min-width: mq(laptop)px) and (max-width: 9999px) {
	 .interior-bottom-cta .cta {
		 padding: 90px 0;
	}
	 .interior-bottom-cta .cta p {
		 padding-bottom: 40px;
	}
	 .interior-bottom-cta .cta p.footnote {
		 font-family: 'Gotham', sans-serif;
		 font-weight: 400;
	}
	 @else if {
		 font-size: 12px;
	}
	 .interior-bottom-cta .cta p.footnote sup {
		 font-size: 9px;
		 top: -4px;
	}
	 .interior-bottom-cta .cta p sup {
		 top: -10px;
		 font-size: 14px;
	}
	 .interior-bottom-cta .cta.cta-1:after {
		 top: 50%;
		 right: 0;
		 transform: translateY(-50%);
		 width: 2px;
		 height: 67%;
	}
	 .interior-bottom-cta .cta .generic {
		 font-family: 'Gotham', sans-serif;
		 font-weight: 700;
	}
	 @else if {
		 font-size: 16px;
	}
}
 @else if $breakpoint == desktop {
	 @media screen and (min-width: mq(desktop)px) and (max-width: 9999px) {
		 .interior-bottom-cta .cta {
			 padding: 90px 0;
		}
		 .interior-bottom-cta .cta p {
			 padding-bottom: 40px;
		}
		 .interior-bottom-cta .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta p sup {
			 top: -10px;
			 font-size: 14px;
		}
		 .interior-bottom-cta .cta.cta-1:after {
			 top: 50%;
			 right: 0;
			 transform: translateY(-50%);
			 width: 2px;
			 height: 67%;
		}
		 .interior-bottom-cta .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 16px;
		}
	}
}
 @else if $breakpoint == laptop {
	 @media screen and (min-width: mq(laptop)px) and (max-width: mq(desktop)px) {
		 .interior-bottom-cta .cta {
			 padding: 90px 0;
		}
		 .interior-bottom-cta .cta p {
			 padding-bottom: 40px;
		}
		 .interior-bottom-cta .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta p sup {
			 top: -10px;
			 font-size: 14px;
		}
		 .interior-bottom-cta .cta.cta-1:after {
			 top: 50%;
			 right: 0;
			 transform: translateY(-50%);
			 width: 2px;
			 height: 67%;
		}
		 .interior-bottom-cta .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 16px;
		}
	}
}
 @else if $breakpoint == tablet {
	 @media screen and (min-width: mq(mobile)px) and (max-width: mq(tablet)px) {
		 .interior-bottom-cta .cta {
			 padding: 90px 0;
		}
		 .interior-bottom-cta .cta p {
			 padding-bottom: 40px;
		}
		 .interior-bottom-cta .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta p sup {
			 top: -10px;
			 font-size: 14px;
		}
		 .interior-bottom-cta .cta.cta-1:after {
			 top: 50%;
			 right: 0;
			 transform: translateY(-50%);
			 width: 2px;
			 height: 67%;
		}
		 .interior-bottom-cta .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 16px;
		}
	}
}
 @else if $breakpoint == mobile {
	 @media screen and (max-width : mq(mobile)px) {
		 .interior-bottom-cta .cta {
			 padding: 90px 0;
		}
		 .interior-bottom-cta .cta p {
			 padding-bottom: 40px;
		}
		 .interior-bottom-cta .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta p sup {
			 top: -10px;
			 font-size: 14px;
		}
		 .interior-bottom-cta .cta.cta-1:after {
			 top: 50%;
			 right: 0;
			 transform: translateY(-50%);
			 width: 2px;
			 height: 67%;
		}
		 .interior-bottom-cta .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 16px;
		}
	}
}
 @else if $breakpoint == mobile-sm {
	 @media screen and (max-width : mq(mobile-sm)px) {
		 .interior-bottom-cta .cta {
			 padding: 90px 0;
		}
		 .interior-bottom-cta .cta p {
			 padding-bottom: 40px;
		}
		 .interior-bottom-cta .cta p.footnote {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 400;
		}
		 @else if {
			 font-size: 12px;
		}
		 .interior-bottom-cta .cta p.footnote sup {
			 font-size: 9px;
			 top: -4px;
		}
		 .interior-bottom-cta .cta p sup {
			 top: -10px;
			 font-size: 14px;
		}
		 .interior-bottom-cta .cta.cta-1:after {
			 top: 50%;
			 right: 0;
			 transform: translateY(-50%);
			 width: 2px;
			 height: 67%;
		}
		 .interior-bottom-cta .cta .generic {
			 font-family: 'Gotham', sans-serif;
			 font-weight: 700;
		}
		 @else if {
			 font-size: 16px;
		}
	}
}
 